#home {
    width: 100%;
    min-height: 100vh;
    height: 100%;

    background-image: url("/images/home-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    min-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.55); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#site-footer {
    min-height: 60px;
    line-height: 60px;
}

#site-content {
    min-height: 100vh;
}

/* Some Helpful Custom Classes */
.placeCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.placeBottom {
    position: absolute;
    bottom: 0;
}

.marginTop {
    margin-top: 120px;
}

code {
    padding-left: 4px;
}
